#GameTitle{

    background-color: bisque;

}

#randomGen{
    padding:0px;
}


#Crystals{
    padding:50px;
}


#crystal1{

    width: 100px;
}


#crystal2{

    width: 100px;
}

#crystal3{

    width: 100px;
}

#crystal4{

    width: 100px;
}



